<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Testing Email</title>
    </head>
    <body>
        <h1>Welcome, <span th:text="${user.name}">User</span>!</h1>
        <p>
            hank you for joining us, <span th:text="${user.name}">User</span>.<br>
            We are excited to have you on board.
        </p>
        <!-- Referencing the image using CID -->
        <img th:src="@{'cid:logoCid'}" alt="Company Logo" />
    </body>
</html>